<div class="answer-edit__background-header py-2 py-md-3">
  <header class="answer-edit__header d-flex justify-content-between align-items-center container">
    <%= link_to home_index_path do %>
      <picture>
        <img src="/assets/logo.svg" alt="logo">
      </picture>
    <% end %>
    <div class=" pe-3">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <%= link_to home_index_path, class:"dropdown-item" do %>
              Página inicial
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, class:"dropdown-item",  method: :delete do %>
              Sair
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
